* {
  font-family: Arial, Helvetica, sans-serif !important;
}

#sidebar {
  width: 22rem;
  display: flex;
  flex-direction: column;
  background-color:white;
}

#sidebar > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

a.ps-menu-button {
  padding-left: 0px !important;
}

a.ps-menu-button:hover {
  background-color: transparent !important;
}

.ps-open > ul {
  /* padding-left: 10px; */
}

.ps-submenu-expand-icon {
  display: none;
}

.submenu {
  /* border-left: solid; */
  padding-left: 10px;
  /* border-left-width: 1px;
  border-left-color: black; */
}

.ps-submenu-root::-webkit-scrollbar {
  /* display: none; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    position: fixed;
    overflow: auto;
  }
  nav {
    width: 100vw;
  }
  #sidebar {
    display: none;
  }
  #detail {
    padding: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}

.gradient-blur {
  position: fixed;
  z-index: 5;
  inset: auto 0 0 0;
  height: 60%;
  pointer-events: none;
}

.blurry-gradient {
  -webkit-mask-image: linear-gradient(to bottom,black 10%,transparent 80%);
  mask-image: linear-gradient(to bottom,black 10%,transparent 80%);
	/* filter: blur(3px); */
}